body {
	margin: 0;
}
main {
	width: 100%;
	height: 100%;
	position: absolute;
  top: 10%;
}
nav * {
	z-index: 10;
}
div {
	outline: 1px solid;
}
a {
  color: inherit; 
  text-decoration: inherit;
  cursor: pointer;
}
.navMain {
	position: fixed;
	right: 10px;
	min-width: min-content;
	width: 15%;
	min-height: min-content;
	height: 25%;
}
.navSearch {
	height: 0;
	position: fixed;
	width: 100%;
}
.searchInput {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 20%;
	min-width: min-content;
}
.container {
	height: 6000px;
	margin: auto;
	width: 60%;
}
.account {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30%;
}
.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.account img {
	height: 30px;
}
.navMain a {
	outline: 1px solid red;
	text-align: center;
	width: 45%;
	margin: 5%;
	padding: 3% 0 3% 0;
}