@use 'init' as *;
@use 'container' as *;
@use 'nav';

body {
  margin: 0;
  @include simpleBac($mainColor);
  color: $textColor !important;
  font-family: unset;
  font-family: "Fira Sans", sans-serif !important;
  font-weight: 300;
  font-style: normal;
}
main {
  border-top: $borderColor 6px solid;
  width: 100%;
  position: absolute;
  top: 10%;
  @include background;
}
nav * {
  z-index: 10;
}
a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
textarea {
  font-family: inherit !important;
  @include simpleBac($themeWhite);
  @include outline($borderColor);
  width: -webkit-fill-available;
  height: max-content;
  resize: none;
  field-sizing: content;
  color: $textColor;
  &:disabled {
    color: $textColor;
    @include transBac($themeWhite);
  }
}
button {
  color: $textColor;
  @include transBac($themeWhite);
  font-family: inherit !important;
  cursor: pointer;
  @include outline($borderColor);
  box-shadow: none;
  border: unset;
  @include hover();
}
input[type="submit"] {
  font-family: inherit !important;
  cursor: pointer;
  color: $textColor;
  @include simpleBac($themeWhite);
  @include outline($borderColor);
  @include hover();
}
.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.none {
  display: none;
}
h2 {
  color: $textColor;
  display: inline-block;
}
h4 {
  color: $textColor;
}
.profile {
  @include transBac($mainColor);
  border-style: solid;
  border-width: 2px;
  border-color: $borderColor;
  border-top: none;
  left: 10%;
  width: 80%;
  position: relative;
  h2 {
    font-size: 45px;
    margin-left: 20px;
    line-height: 0;
  }
}
.userFlex {
  justify-content: center;
  align-items: center;
  padding: 7px;
  display: flex;
  img {
    height: 100px;
    outline: 1px solid black;
  }
}
.bio {
  margin: 5px;
  textarea {
    min-height: 50px;
  }
  & > button {
    position: absolute;
    top: 10px;
  }
}
@media screen and (max-width: 650px) {
  .container {
    margin: 0;
    width: -webkit-fill-available;
  }
  .profile {
    width: -webkit-fill-available;
    left: 0;
  }
}
