@charset "UTF-8";
:root {
  --mainColor: #777eaf;
  --additionalColor: #af777e;
  --borderColor: #613f43;
  --themeWhite: #ffffff;
  --textColor: #000000;
  --errorRed: #c60d3b;
}

body {
  margin: 0;
  background: var(--mainColor);
  color: var(--textColor) !important;
  font-family: unset;
  font-family: "Fira Sans", sans-serif !important;
  font-weight: 300;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

.container {
  position: relative;
  background: color(from var(--mainColor) srgb r g b/0.77);
  margin: auto;
}

.post {
  border: 2px solid var(--borderColor);
  border-top: none;
  padding: 10px;
}
.post h3 {
  margin: 15px 0 15px 10px;
  line-height: 0px;
}
.post img {
  height: 40px !important;
}
.post .time {
  display: block;
  text-align: right;
  position: relative;
  right: 20px;
}
.post .time span {
  padding: 3px;
  background: color(from var(--themeWhite) srgb r g b/0.77);
  outline: solid 1px var(--borderColor);
  border-radius: 5px;
}

.postFlex {
  background: var(--themeWhite);
  outline: solid 1px var(--borderColor);
  border-radius: 5px;
}
.postFlex:hover {
  background: var(--themeWhite);
  outline: none;
}

.bottom {
  outline: none;
  position: absolute;
  bottom: 10%;
}

.postHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.menuDrop {
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.menuDrop:focus-within div {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  padding-bottom: 30px;
}
.menuDrop div {
  display: none;
}
.menuDrop div button {
  margin: 1px;
}
.menuDrop button {
  background: var(--themeWhite);
}

.sort {
  position: absolute;
  right: 3%;
  padding: 3px;
}
.sort button {
  padding: 3px;
}

.createPost {
  border: 2px solid var(--borderColor);
  border-top: none;
}
.createPost form {
  display: flex;
}
.createPost textarea {
  height: max-content;
  min-height: 50px;
  resize: none;
  width: -webkit-fill-available;
  border: none;
  outline: 1px solid;
  margin: 3px;
}
.createPost input {
  max-height: 50px;
  margin: 5px;
}

.sortButton::before {
  content: "▽";
  left: 17px;
}

.sortTrue::before {
  content: "△";
}

.share:focus::before {
  content: "coppied";
  position: absolute;
  left: 55px;
  background: color(from var(--themeWhite) srgb r g b/0.77);
  outline: solid 1px var(--themeWhite);
  border-radius: 5px;
}

.postContainer {
  width: 100%;
}